<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
  <head>
    <title>Vapour Exception</title>
    <meta http-equiv="content-type" content="text/xhtml+xml; charset=utf-8" />
    <meta name="description" content="An automatically-generated report of compliance with respect to the 'Best Practice Recipes for Publishing RDF vocabularies'" />
    <meta name="keywords" content="rdf, best practice, recipes, semantic web" />
    <link type="text/css" rel="stylesheet" href="$resourceBaseUri/report-style.css" media="screen,projection,print" />
    <link rel="meta" type="application/rdf+xml" title="DOAP" href="http://vapour.sourceforge.net/resources/doap.rdf" />
  </head>
  <body>    
    <div class="all">
    
      <div id="header">
        <h1>
          <a href="http://vapour.sourceforge.net/" title="go to vapour project home page">
            <abbr title="VAlidation Process Of Uri Response">vapour</abbr>
          </a>
        </h1>
        <h2>a Linked Data validator</h2>
      </div>

      <div id="report">
      <img src="$resourceBaseUri/images/spilled-tea.gif" style="float: right;" alt="spilled-tea" />
      <p>Vapour was unable to complete the request due to the following exception:</p>
      <pre class="exception">${exceptionDescription}</pre>
      <p>Complete traceback (<a href="#traceback" id="seehide">see/hide</a>):</p>
      <pre id="traceback" class="exception">${exceptionDetails}</pre>
      <p>Please, <a href="http://sourceforge.net/tracker/?group_id=188075&amp;atid=923865">report this bug</a> 
      or <a href="?">return to Vapour</a>.</p>
      </div>

    </div> <!-- /all -->

    <div id="footer">
      <p id="logo">
        <a href="http://www.fundacionctic.org/"><img src="$resourceBaseUri/images/ctic.png" width="215" height="62" alt="Fundacion CTIC" /></a>
      </p>
      <p>
        <a href="http://vapour.sourceforge.net/">Vapour</a> is a validation service to check whether semantic web 
        data is correctly published according to the current best practices, as defined by the 
        <a href="http://www.w3.org/DesignIssues/LinkedData.html">Linked Data</a> principles, the 
        <a href="http://www.w3.org/TR/swbp-vocab-pub/">Best Practice Recipes</a> and the 
        <a href="http://www.w3.org/TR/cooluris/">Cool <abbr title="Uniform Resource Identifier">URIs</abbr></a>.
      </p>
    </div>

    <script type="text/javascript"src="$resourceBaseUri/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="$resourceBaseUri/scripts2.js"></script>
    
  </body>

</html>

