/* CSS style for reports */

.all{
	width:90%;
	margin-left:5%;
}

.fileIcon {
    float:right;
}

.fileIcon img {
    border: 0;
}

.request
{ 
  width:70%;
  background: #ffffcf url(resources/images/arrow-right.png) no-repeat right 50%;
  margin: 0;
  margin-bottom: .6em; 
  margin-left:10%;
  padding: 0;
  clear:both;
}

.requestInner
{
  border: 1px solid #afafff;
  border-right-width: 0;  
  margin-right: 4%;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-left: .3em;
}

.request p
{
}

.response
{ 
  background: #fff url(resources/images/arrow-left.png) no-repeat left 50%;
  margin: 0;
  padding: 0;
  margin-bottom: .6em;
  width:70%;
  float:right;
  margin-right:10%;
}

.responseInner 
{ 
  border: 1px solid #afafff;
  border-left-width: 0;
  margin-left: 8%;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-right: .3em;
}

.reponse p
{ 
}

.httpHeader
{
  display: block;
  /*             border: 1px solid #363;
     border-left-width: 0;
     */
  margin: 0;
  text-decoration: none;
  font-size:small;
}

.badHttpHeader
{
  color: red;
}

.goodHttpHeader
{ 
  color: green;
}

/* icons ============================================== */

.httpDialog
{ 
  border: 1px solid black;
  padding: .6em;
}


.clientIcon
{
float:left;
  width:20%;
  text-align:center;
}

.dialogArea
{
float:left;
  width:59%;
}

.serverIcon
{
    float:left;
  width:20%;
  text-align: center;
}

.dummyR
{
  clear: both;
}

/* summary ====================================================== */

.correctValue
{ 
  color: green;
}

.badValue
{
  font-weight: bold;
  color: red;
}

.testResultCorrect
{ 
  color: green;
}

.testResultFail
{ 
  color: red;
}

h2
{ 
  margin-top: .2em;
}