<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
  <head>
    <meta http-equiv="content-type" content="text/xhtml+xml; charset=utf-8" />
    <meta name="description" content="An automatically-generated report of compliance with respect to the 'Best Practice Recipes for Publishing RDF vocabularies'" />
    <meta name="keywords" content="rdf, best practice, recipes, semantic web" />
    <link type="text/css" rel="stylesheet" href="$resourceBaseUri/report-style.css" media="screen,projection,print" />
    <link rel="alternate" type="application/rss+xml" title="RDF version of this report" href="FIXME" />
    <script type="text/javascript" src="$resourceBaseUri/scripts.js"></script>
    <title>Vapour Exception</title>
  </head>
  <body>    
    <div class="all">
    
      <h1>
        <a href="http://vapour.sourceforge.net/" title="go to vapour project home page">
          <abbr title="VAlidation Process Of Uri Response">vapour</abbr>
        </a>
      </h1>
      <p>Vapour was unable to complete the request due to the following exception:</p>
      <pre class="exception">${exceptionDescription}</pre>
      <p>Complete traceback:</p>
      <pre class="exception">${exceptionDetails}</pre>
      <p>Please, <a href="http://sourceforge.net/tracker/?group_id=188075&amp;atid=923865">report this bug</a> 
      or <a href="?">return to Vapour</a>.</p>

    </div> <!-- /all -->

    <div id="logo">
      <a href="http://www.fundacionctic.org/"><img src="$resourceBaseUri/images/ctic.png" width="215" height="62" alt="Fundacion CTIC" /></a>
    </div>
    
  </body>

</html>
