
/* CSS style for reports of Vapour */

h1 {
  background-color: #5674bc;
  font-size: 2.4em;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  display: block;
  color: #ffffff;
  padding: 0.3em 2em 0.3em 0.5em;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  background-image: url(images/ctic-white.png);
  background-repeat: no-repeat;
  background-position: bottom right; 
}

h1 a, h1 a:active, h1 a:hover, h1 a:visited {
  color: #ffffff;
  text-decoration: none;
}

h1 a abbr {
  border-bottom: 0;
  text-transform: uppercase
}

h2, h3, h4, h5, h6 {
  color: #5674bc;
}

img {
  border: 0;
}

.all{
	width:90%;
	margin-left:5%;
}

.fileIcon {
    float:right;
}

.fileIcon img {
    border: 0;
}

.request
{ 
  width:70%;
  background: #fff url(arrow-right.png) no-repeat right 50%;
  margin: 0;
  margin-bottom: .6em; 
  margin-left:10%;
  padding: 0;
  clear:both;
}

.requestInner
{
  background-color:  #ffffcf;
  border: 1px #afafff solid;
  border-right:0px;
  margin-right: 36px;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-left: .3em;
}

.request p
{
}

.response
{ 
  background: #fff url(arrow-left.png) no-repeat left 50%;
  margin: 0;
  padding: 0;
  margin-bottom: .6em;
  width:70%;
  margin-right:10%;
}

.responseInner 
{ 
  background-color:#eafedd;
  border: 1px #afafff solid;
  border-left:0px;
  margin-left: 36px;
  padding:.3em;
  min-height: 35px;
}

.reponse p
{ 
}

.httpHeader
{
  display: block;
  /*             border: 1px solid #363;
     border-left-width: 0;
     */
  margin: 0;
  text-decoration: none;
  font-size:0.7em;
}

.badHttpHeader
{
  color: red;
}

.goodHttpHeader
{ 
  color: green;
}

/* icons ============================================== */

.testRequirement {
  border: 1px #5674bc solid;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: .6em;
  background-color:#fffff9;
}

.httpDialog
{ 
}


.clientIcon
{
float:left;
  width:20%;
  text-align:center;
}

.dialogArea
{
float:left;
  width:59%;
}

.serverIcon
{
    float:left;
  width:20%;
  text-align: center;
}

.dummyR
{
  clear: both;
}

/* input form =================================================== */

p#linkToResults {
  border-top: 1px #5674bc solid;
  border-bottom: 1px #5674bc solid;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-size: 0.8em;
  text-align: center;
}

fieldset {
  border: 1px outset;
  margin-top: 1.4em;
  background-color:#eeeedd;
  margin-left:1em;
  margin-right:1em;
}

legend {
  font-size:larger;
  color:#5674bc;
  border:1px #b0b0c0 solid;
  padding:0.1em;
  padding-right:0.5em;
  background-color:#fefeed;
}
.moreOptions {
  margin-bottom: 0px;
  padding-left:1em;
  padding-right:1em;
}

form > p {
  clear: left;
  margin-bottom: 1em;
}

.inputData {
  border: 1px #b0b0c0 solid;
  padding: .6em;
  background-color: #e0e0d0;
  margin-bottom: 2em;
}

input { 
  border: 1px solid #bbb;
  border-top: 1px solid #777;
  border-bottom: 1px solid #ddd;
  background: #fefefe;
  padding: 0.2em 0.2em;
  max-width: 800px;
  font-variant: normal;
}

input:hover {
  background-color: #f0f0ff;
}

input.uri {
  font-family: Monaco, "Courier New", Monospace;
  font-size: 0.9em;
  width: 75%;
}

label.uri {
  display: block;
  width: 7em;
  float:left;
  text-align: left;
  margin-right: 0.3em;
}

label#labelVocabUri {
  width: 3em;
  margin-left: 2em;
}

#uriHint {
  font-size: 0.8em;
  display: block;
  clear: left;
  margin-left: 7em;
}

input#validateRDF, input#htmlVersions {
}

#defaultResponse {
  margin-left:1em;
}

p.submit_button {
  text-align:center;
}

p.submit_button input {
	overflow: visible;
	width: auto;
	background: #fff;
  color: #365D95;
  padding: 0.3em 0.4em 0.1em 0.3em;
	font-size: 1.2em;
	width: 12em;
	text-align: center;
	border-bottom: 2px solid #444;
	border-right: 2px solid #444;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	background: #eee url("grad.png") repeat-x top left;
	cursor: pointer;
}

p.submit_button input:active {
  color: #1f2126;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-top: 2px solid #444;
	border-left: 2px solid #444;
}


/* summary ====================================================== */

ul.testResultChecklist {
  list-style-type:none;
  padding-left: 0;
  margin-left: 1em;
}

li.correctValue {
  background: url(fwdi4/001_06.png) left top no-repeat;
  padding-left: 25px;
}

li.correctValue > span {
  color: green;
}

li.badValue {
  background: url(fwdi4/001_05.png) left top no-repeat;
  padding-left: 25px;
}

li.badValue > span {
  font-weight: bold;
  color: red;
}

span.testResultCorrect
{ 
  color: green;
}

span.testResultFail
{ 
  color: red;
}

ul.httpRange14Conc {
  list-style-type:none;
  padding-left: 0;
  margin-left: 1em;
} 

ul.httpRange14Conc li {
  background: url(fwdi4/001_35.png) left top no-repeat;
  padding-left: 25px;
}

ul.futherOptions {
  list-style-type:none;
  padding-left: 0;
  margin-left: 1em;
}

ul.futherOptions li {
  background: url(fwdi4/001_60.png) left top no-repeat;
  padding-left: 25px;
}

h3
{ 
  margin-top: 0.2em;
  font-size:1.3em;
}

.summary
{ 
  border: 1px #5674bc solid;
  margin-bottom: 1em;
  padding: .6em;
  background-color: #f0f0ff;
}

.summaryTable
{
  margin-left: auto;
  margin-right: auto;
}

.summaryTable thead
{
  font-weight: bold;
  background-color: #e0e0ff;
}

.summaryTable td
{ 
  padding:.2em;
  border: 1px #5674bc solid;
}

.allTestsOk {
  color: green;
}

.someTestsFail {
  color: red;
}

.overallResultPass
{
  background-color: green;
}

.overallResultFail
{  
  background-color: red;
}

.overallResultPass, .overallResultFail
{
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  padding: 0.3em;
}

.backtotop {
  text-align: right;
  margin-right: 0.8em;
  font-size: 0.7em;
}

.httpDialogIconLegend {
  font-size: 0.8em;
  color: #888888;
}

div#footer {
  width: 90%;
  margin-left: 5%;
  margin-top: 3em;
  padding-bottom: 3em;
  border-top: 1px #5674bc solid;
}

div#footer p {
  font-size: 0.8em;
  text-align: left;
  padding-top: 1em;
}

div#footer p#logo {
  float: left;
  margin-right: 2em;
  padding-top: 0;
}

/* from Miguel */

.shoHideTitle
{
	clear: both;
	background-image: url("arrow-open.png");
	background-position:left;
	background-repeat:no-repeat;
	padding-left: 15px;
	cursor: pointer;	
}

.shoHideTitle:hover
{
	color: #000000;
}

