/* CSS style for reports */

h1, h2, h3, h4, h5, h6 {
  color: #5674bc;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  display: block;
  color: #5674bc;
}

h1 a, h1 a:active, h1 a:hover, h1 a:visited {
  color: #5674bc;
  text-decoration: none;
}

h1 a abbr {
  border-bottom: 0;
  text-transform: uppercase
}

img {
  border: 0;
}

span.small {
  font-size: 0.8em;
}

div#logo {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: right;
}

.all{
	width:90%;
	margin-left:5%;
}

.fileIcon {
    float:right;
}

.fileIcon img {
    border: 0;
}

.request
{ 
  width:70%;
  background: #ffffcf url(arrow-right.png) no-repeat right 50%;
  margin: 0;
  margin-bottom: .6em; 
  margin-left:10%;
  padding: 0;
  clear:both;
}

.requestInner
{
  border: 1px #afafff solid;
  border-right-width: 0;  
  margin-right: 4%;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-left: .3em;
}

.request p
{
}

.response
{ 
  background: #fff url(arrow-left.png) no-repeat left 50%;
  margin: 0;
  padding: 0;
  margin-bottom: .6em;
  width:70%;
  float:right;
  margin-right:10%;
}

.responseInner 
{ 
  border: 1px #afafff solid;
  border-left-width: 0;
  margin-left: 8%;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-right: .3em;
}

.reponse p
{ 
}

.httpHeader
{
  display: block;
  /*             border: 1px solid #363;
     border-left-width: 0;
     */
  margin: 0;
  text-decoration: none;
  font-size:0.7em;
}

.badHttpHeader
{
  color: red;
}

.goodHttpHeader
{ 
  color: green;
}

/* icons ============================================== */

.testRequirement {
  border: 1px #5674bc solid;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: .6em;
  background-color:#fffff9;
}

.httpDialog
{ 
}


.clientIcon
{
float:left;
  width:20%;
  text-align:center;
}

.dialogArea
{
float:left;
  width:59%;
}

.serverIcon
{
    float:left;
  width:20%;
  text-align: center;
}

.dummyR
{
  clear: both;
}

/* input form =================================================== */

form > p {
  clear: left;
  margin-bottom: 1em;
}

.inputData {
  border: 1px #b0b0c0 solid;
  padding: .6em;
  background-color: #e0e0d0;
}

input { 
  border: 1px solid #bbb;
  border-top: 1px solid #777;
  border-bottom: 1px solid #ddd;
  background: #fefefe;
  padding: 0.2em 0.2em;
  max-width: 800px;
  font-variant: normal;
}

input:hover {
  background-color: #f0f0ff;
}

input.uri {
  display: block;
  float: left;
  margin-right: 10px;
  font-family: Monaco, "Courier New", Monospace;
  font-size: 0.9em;
  width: 40%;
}

label.uri {
  display: block;
  float: left;
  width: 10em;
  text-align: right;
  margin-right: 0.3em;
}

input#validateRDF, input#htmlVersions {
  margin-left: 13em;
}

p.submit {
  margin-left: 10.3em;
}

/* summary ====================================================== */

.correctValue
{ 
  color: green;
}

.badValue
{
  font-weight: bold;
  color: red;
}

.testResultCorrect
{ 
  color: green;
}

.testResultFail
{ 
  color: red;
}

h2
{ 
  margin-top: 0.2em;
}

.summary
{ 
  border: 1px #5674bc solid;
  margin-bottom: 1em;
  padding: .6em;
  background-color: #f0f0ff;
}

.summaryTable
{
  margin-left: auto;
  margin-right: auto;
}

.summaryTable thead
{
  font-weight: bold;
  background-color: #e0e0ff;
}

.summaryTable td
{ 
  padding:.2em;
  border: 1px #5674bc solid;
}

.allTestsOk
{
  color:green;
}

.someTestsFail
{ 
  font-weight: bold;  
  color: red;
}
